$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "~assets/fonts" !default;

$icon-anchore: "\e900";
$icon-anchore-white: "\e901";
$icon-ansible-path1: "\e902";
$icon-ansible-path2: "\e903";
$icon-ansible-path3: "\e904";
$icon-ansible-white: "\e905";
$icon-argo-path1: "\e906";
$icon-argo-path2: "\e907";
$icon-argo-path3: "\e908";
$icon-argo-path4: "\e909";
$icon-argo-path5: "\e90a";
$icon-argo-path6: "\e90b";
$icon-argo-path7: "\e90c";
$icon-argo-path8: "\e90d";
$icon-argo-path9: "\e90e";
$icon-argo-path10: "\e90f";
$icon-argo-path11: "\e910";
$icon-argo-path12: "\e911";
$icon-argo-path13: "\e912";
$icon-argo-path14: "\e913";
$icon-argo-path15: "\e914";
$icon-argo-path16: "\e915";
$icon-argo-path17: "\e916";
$icon-argo-path18: "\e917";
$icon-argo-path19: "\e918";
$icon-argo-path20: "\e919";
$icon-argo-path21: "\e91a";
$icon-argo-path22: "\e91b";
$icon-argo-path23: "\e91c";
$icon-argo-path24: "\e91d";
$icon-argo-path25: "\e91e";
$icon-argo-white-path1: "\e91f";
$icon-argo-white-path2: "\e920";
$icon-argo-white-path3: "\e921";
$icon-argo-white-path4: "\e922";
$icon-argo-white-path5: "\e923";
$icon-argo-white-path6: "\e924";
$icon-argo-white-path7: "\e925";
$icon-argo-white-path8: "\e926";
$icon-argo-white-path9: "\e927";
$icon-argo-white-path10: "\e928";
$icon-argo-white-path11: "\e929";
$icon-argo-white-path12: "\e92a";
$icon-argo-white-path13: "\e92b";
$icon-argo-white-path14: "\e92c";
$icon-argo-white-path15: "\e92d";
$icon-argo-white-path16: "\e92e";
$icon-argo-white-path17: "\e92f";
$icon-argo-white-path18: "\e930";
$icon-argo-white-path19: "\e931";
$icon-argo-white-path20: "\e932";
$icon-argo-white-path21: "\e933";
$icon-athenz-path1: "\e934";
$icon-athenz-path2: "\e935";
$icon-athenz-path3: "\e936";
$icon-athenz-path4: "\e937";
$icon-athenz-path5: "\e938";
$icon-athenz-path6: "\e939";
$icon-athenz-path7: "\e93a";
$icon-athenz-path8: "\e93b";
$icon-athenz-path9: "\e93c";
$icon-athenz-path10: "\e93d";
$icon-athenz-white: "\e93e";
$icon-cert-manager-path1: "\e93f";
$icon-cert-manager-path2: "\e940";
$icon-cert-manager-path3: "\e941";
$icon-cert-manager-path4: "\e942";
$icon-cert-manager-path5: "\e943";
$icon-cert-manager-path6: "\e944";
$icon-cert-manager-path7: "\e945";
$icon-cert-manager-path8: "\e946";
$icon-cert-manager-path9: "\e947";
$icon-cert-manager-path10: "\e948";
$icon-cert-manager-path11: "\e949";
$icon-cert-manager-path12: "\e94a";
$icon-cert-manager-path13: "\e94b";
$icon-cert-manager-path14: "\e94c";
$icon-cert-manager-white-path1: "\e94d";
$icon-cert-manager-white-path2: "\e94e";
$icon-cert-manager-white-path3: "\e94f";
$icon-cert-manager-white-path4: "\e950";
$icon-cert-manager-white-path5: "\e951";
$icon-cert-manager-white-path6: "\e952";
$icon-cert-manager-white-path7: "\e953";
$icon-cert-manager-white-path8: "\e954";
$icon-cert-manager-white-path9: "\e955";
$icon-cert-manager-white-path10: "\e956";
$icon-cert-manager-white-path11: "\e957";
$icon-cert-manager-white-path12: "\e958";
$icon-cert-manager-white-path13: "\e959";
$icon-cert-manager-white-path14: "\e95a";
$icon-clair-path1: "\e95b";
$icon-clair-path2: "\e95c";
$icon-clair-path3: "\e95d";
$icon-clair-path4: "\e95e";
$icon-clair-white-path1: "\e95f";
$icon-clair-white-path2: "\e960";
$icon-clair-white-path3: "\e961";
$icon-clair-white-path4: "\e962";
$icon-consul: "\e963";
$icon-consul-white-path1: "\e964";
$icon-consul-white-path2: "\e965";
$icon-core-dns-path1: "\e966";
$icon-core-dns-path2: "\e967";
$icon-core-dns-path3: "\e968";
$icon-core-dns-path4: "\e969";
$icon-core-dns-path5: "\e96a";
$icon-core-dns-path6: "\e96b";
$icon-core-dns-path7: "\e96c";
$icon-core-dns-path8: "\e96d";
$icon-core-dns-path9: "\e96e";
$icon-core-dns-path10: "\e96f";
$icon-core-dns-path11: "\e970";
$icon-core-dns-path12: "\e971";
$icon-core-dns-path13: "\e972";
$icon-core-dns-path14: "\e973";
$icon-core-dns-path15: "\e974";
$icon-core-dns-path16: "\e975";
$icon-core-dns-path17: "\e976";
$icon-core-dns-path18: "\e977";
$icon-core-dns-path19: "\e978";
$icon-core-dns-path20: "\e979";
$icon-core-dns-path21: "\e97a";
$icon-core-dns-path22: "\e97b";
$icon-core-dns-path23: "\e97c";
$icon-core-dns-path24: "\e97d";
$icon-core-dns-path25: "\e97e";
$icon-core-dns-path26: "\e97f";
$icon-core-dns-path27: "\e980";
$icon-drone: "\e981";
$icon-falco: "\e982";
$icon-falco-white: "\e983";
$icon-fluentd-black-path1: "\e984";
$icon-fluentd-black-path2: "\e985";
$icon-fluentd-black-path3: "\e986";
$icon-fluentd-black-path4: "\e987";
$icon-fluentd-black-path5: "\e988";
$icon-fluentd-black-path6: "\e989";
$icon-fluentd-black-path7: "\e98a";
$icon-fluentd-black-path8: "\e98b";
$icon-fluentd-black-path9: "\e98c";
$icon-fluentd-black-path10: "\e98d";
$icon-fluentd-black-path11: "\e98e";
$icon-fluentd-black-path12: "\e98f";
$icon-fluentd-black-path13: "\e990";
$icon-fluentd-black-path14: "\e991";
$icon-fluentd-black-path15: "\e992";
$icon-fluentd-black-path16: "\e993";
$icon-fluentd-black-path17: "\e994";
$icon-fluentd-black-path18: "\e995";
$icon-fluentd-black-path19: "\e996";
$icon-fluentd-black-path20: "\e997";
$icon-fluentd-black-path21: "\e998";
$icon-fluentd-black-path22: "\e999";
$icon-fluentd-black-path23: "\e99a";
$icon-fluentd-black-path24: "\e99b";
$icon-fluentd-black-path25: "\e99c";
$icon-fluentd-black-path26: "\e99d";
$icon-fluentd-black-path27: "\e99e";
$icon-fluentd-black-path28: "\e99f";
$icon-fluentd-black-path29: "\e9a0";
$icon-fluentd-black-path30: "\e9a1";
$icon-fluentd-black-path31: "\e9a2";
$icon-fluentd-black-path32: "\e9a3";
$icon-fluentd-black-path33: "\e9a4";
$icon-fluentd-black-path34: "\e9a5";
$icon-fluentd-black-path35: "\e9a6";
$icon-fluentd-black-path36: "\e9a7";
$icon-fluentd-black-path37: "\e9a8";
$icon-fluentd-black-path38: "\e9a9";
$icon-fluentd-black-path39: "\e9aa";
$icon-fluentd-black-path40: "\e9ab";
$icon-fluentd-black-path41: "\e9ac";
$icon-fluentd-black-path42: "\e9ad";
$icon-fluentd-black-path43: "\e9ae";
$icon-fluentd-black-path44: "\e9af";
$icon-fluentd-black-path45: "\e9b0";
$icon-fluentd-black-path46: "\e9b1";
$icon-fluentd-black-path47: "\e9b2";
$icon-fluentd-black-path48: "\e9b3";
$icon-fluentd-black-path49: "\e9b4";
$icon-fluentd-black-path50: "\e9b5";
$icon-fluentd-black-path51: "\e9b6";
$icon-fluentd-black-path52: "\e9b7";
$icon-fluentd-black-path53: "\e9b8";
$icon-fluentd-black-path54: "\e9b9";
$icon-fluentd-black-path55: "\e9ba";
$icon-fluentd-black-path56: "\e9bb";
$icon-fluentd-black-path57: "\e9bc";
$icon-fluentd-black-path58: "\e9bd";
$icon-fluentd-black-path59: "\e9be";
$icon-fluentd-black-path60: "\e9bf";
$icon-fluentd-black-path61: "\e9c0";
$icon-fluentd-black-path62: "\e9c1";
$icon-fluentd-black-path63: "\e9c2";
$icon-fluentd-black-path64: "\e9c3";
$icon-fluentd-black-path65: "\e9c4";
$icon-fluentd-black-path66: "\e9c5";
$icon-fluentd-black-path67: "\e9c6";
$icon-fluentd-black-path68: "\e9c7";
$icon-fluentd-black-path69: "\e9c8";
$icon-fluentd-black-path70: "\e9c9";
$icon-fluentd-black-path71: "\e9ca";
$icon-fluentd-black-path72: "\e9cb";
$icon-fluentd-black-path73: "\e9cc";
$icon-fluentd-black-path74: "\e9cd";
$icon-fluentd-black-path75: "\e9ce";
$icon-fluentd-black-path76: "\e9cf";
$icon-fluentd-black-path77: "\e9d0";
$icon-fluentd-black-path78: "\e9d1";
$icon-fluentd-black-path79: "\e9d2";
$icon-fluentd-black-path80: "\e9d3";
$icon-fluentd-black-path81: "\e9d4";
$icon-fluentd-black-path82: "\e9d5";
$icon-fluentd-black-path83: "\e9d6";
$icon-fluentd-black-path84: "\e9d7";
$icon-fluentd-black-path85: "\e9d8";
$icon-fluentd-black-path86: "\e9d9";
$icon-fluentd-black-path87: "\e9da";
$icon-fluentd-black-path88: "\e9db";
$icon-fluentd-black-path89: "\e9dc";
$icon-fluentd-black-path90: "\e9dd";
$icon-fluentd-black-path91: "\e9de";
$icon-fluentd-black-path92: "\e9df";
$icon-fluentd-black-path93: "\e9e0";
$icon-fluentd-black-path94: "\e9e1";
$icon-fluentd-black-path95: "\e9e2";
$icon-fluentd-black-path96: "\e9e3";
$icon-fluentd-black-path97: "\e9e4";
$icon-fluentd-black-path98: "\e9e5";
$icon-fluentd-black-path99: "\e9e6";
$icon-fluentd-black-path100: "\e9e7";
$icon-fluentd-black-path101: "\e9e8";
$icon-fluentd-black-path102: "\e9e9";
$icon-fluentd-black-path103: "\e9ea";
$icon-fluentd-black-path104: "\e9eb";
$icon-fluentd-black-path105: "\e9ec";
$icon-fluentd-black-path106: "\e9ed";
$icon-fluentd-black-path107: "\e9ee";
$icon-fluentd-black-path108: "\e9ef";
$icon-fluentd-black-path109: "\e9f0";
$icon-fluentd-black-path110: "\e9f1";
$icon-fluentd-black-path111: "\e9f2";
$icon-fluentd-black-path112: "\e9f3";
$icon-fluentd-black-path113: "\e9f4";
$icon-fluentd-black-path114: "\e9f5";
$icon-fluentd-black-path115: "\e9f6";
$icon-fluentd-black-path116: "\e9f7";
$icon-fluentd-black-path117: "\e9f8";
$icon-fluentd-black-path118: "\e9f9";
$icon-fluentd-black-path119: "\e9fa";
$icon-fluentd-black-path120: "\e9fb";
$icon-fluentd-black-path121: "\e9fc";
$icon-fluentd-black-path122: "\e9fd";
$icon-fluentd-black-path123: "\e9fe";
$icon-fluentd-black-path124: "\e9ff";
$icon-fluentd-black-path125: "\ea00";
$icon-fluentd-black-path126: "\ea01";
$icon-fluentd-black-path127: "\ea02";
$icon-fluentd-white-path1: "\ea03";
$icon-fluentd-white-path2: "\ea04";
$icon-fluentd-white-path3: "\ea05";
$icon-fluentd-white-path4: "\ea06";
$icon-fluentd-white-path5: "\ea07";
$icon-fluentd-white-path6: "\ea08";
$icon-fluentd-white-path7: "\ea09";
$icon-fluentd-white-path8: "\ea0a";
$icon-fluentd-white-path9: "\ea0b";
$icon-fluentd-white-path10: "\ea0c";
$icon-fluentd-white-path11: "\ea0d";
$icon-fluentd-white-path12: "\ea0e";
$icon-fluentd-white-path13: "\ea0f";
$icon-fluentd-white-path14: "\ea10";
$icon-fluentd-white-path15: "\ea11";
$icon-fluentd-white-path16: "\ea12";
$icon-fluentd-white-path17: "\ea13";
$icon-fluentd-white-path18: "\ea14";
$icon-fluentd-white-path19: "\ea15";
$icon-fluentd-white-path20: "\ea16";
$icon-fluentd-white-path21: "\ea17";
$icon-fluentd-white-path22: "\ea18";
$icon-gitea-path1: "\ea19";
$icon-gitea-path2: "\ea1a";
$icon-gitea-path3: "\ea1b";
$icon-gitea-path4: "\ea1c";
$icon-gitea-path5: "\ea1d";
$icon-gitea-path6: "\ea1e";
$icon-gitea-path7: "\ea1f";
$icon-gitlab-white: "\ea20";
$icon-gloo-path1: "\ea21";
$icon-gloo-path2: "\ea22";
$icon-gloo-path3: "\ea23";
$icon-gloo-path4: "\ea24";
$icon-gloo-path5: "\ea25";
$icon-gloo-path6: "\ea26";
$icon-gloo-path7: "\ea27";
$icon-gloo-path8: "\ea28";
$icon-gloo-path9: "\ea29";
$icon-gloo-path10: "\ea2a";
$icon-gloo-path11: "\ea2b";
$icon-gloo-path12: "\ea2c";
$icon-gloo-path13: "\ea2d";
$icon-gloo-path14: "\ea2e";
$icon-gloo-path15: "\ea2f";
$icon-gloo-white-path1: "\ea30";
$icon-gloo-white-path2: "\ea31";
$icon-gloo-white-path3: "\ea32";
$icon-gloo-white-path4: "\ea33";
$icon-gloo-white-path5: "\ea34";
$icon-gloo-white-path6: "\ea35";
$icon-gloo-white-path7: "\ea36";
$icon-gloo-white-path8: "\ea37";
$icon-gloo-white-path9: "\ea38";
$icon-gloo-white-path10: "\ea39";
$icon-gloo-white-path11: "\ea3a";
$icon-gloo-white-path12: "\ea3b";
$icon-gloo-white-path13: "\ea3c";
$icon-gloo-white-path14: "\ea3d";
$icon-gloo-white-path15: "\ea3e";
$icon-grafana: "\ea3f";
$icon-grafana-white: "\ea40";
$icon-harbor-path1: "\ea41";
$icon-harbor-path2: "\ea42";
$icon-harbor-path3: "\ea43";
$icon-harbor-path4: "\ea44";
$icon-harbor-path5: "\ea45";
$icon-harbor-path6: "\ea46";
$icon-harbor-path7: "\ea47";
$icon-harbor-path8: "\ea48";
$icon-harbor-path9: "\ea49";
$icon-harbor-path10: "\ea4a";
$icon-harbor-path11: "\ea4b";
$icon-harbor-path12: "\ea4c";
$icon-harbor-path13: "\ea4d";
$icon-harbor-path14: "\ea4e";
$icon-harbor-path15: "\ea4f";
$icon-harbor-path16: "\ea50";
$icon-harbor-path17: "\ea51";
$icon-harbor-path18: "\ea52";
$icon-harbor-white: "\ea53";
$icon-helm-black: "\ea54";
$icon-helm-white: "\ea55";
$icon-istio: "\ea56";
$icon-istio-char-path1: "\ea57";
$icon-istio-char-path2: "\ea58";
$icon-Jenkins: "\ea59";
$icon-kaniko-path1: "\ea5a";
$icon-kaniko-path2: "\ea5b";
$icon-kaniko-path3: "\ea5c";
$icon-kaniko-white-path1: "\ea5d";
$icon-kaniko-white-path2: "\ea5e";
$icon-kiali-path1: "\ea5f";
$icon-kiali-path2: "\ea60";
$icon-kiali-path3: "\ea61";
$icon-kube-bench-path1: "\ea62";
$icon-kube-bench-path2: "\ea63";
$icon-kube-bench-path3: "\ea64";
$icon-kube-bench-path4: "\ea65";
$icon-kube-bench-path5: "\ea66";
$icon-kube-bench-path6: "\ea67";
$icon-kube-bench-path7: "\ea68";
$icon-kube-bench-path8: "\ea69";
$icon-kube-bench-path9: "\ea6a";
$icon-kube-bench-path10: "\ea6b";
$icon-kube-bench-path11: "\ea6c";
$icon-kube-bench-path12: "\ea6d";
$icon-kube-bench-path13: "\ea6e";
$icon-kube-bench-path14: "\ea6f";
$icon-kube-bench-path15: "\ea70";
$icon-kube-bench-path16: "\ea71";
$icon-kube-bench-path17: "\ea72";
$icon-kube-bench-path18: "\ea73";
$icon-kube-bench-path19: "\ea74";
$icon-kube-bench-white-path1: "\ea75";
$icon-kube-bench-white-path2: "\ea76";
$icon-kube-bench-white-path3: "\ea77";
$icon-kube-bench-white-path4: "\ea78";
$icon-kube-bench-white-path5: "\ea79";
$icon-kube-bench-white-path6: "\ea7a";
$icon-kube-bench-white-path7: "\ea7b";
$icon-kube-bench-white-path8: "\ea7c";
$icon-kube-bench-white-path9: "\ea7d";
$icon-kube-bench-white-path10: "\ea7e";
$icon-kube-bench-white-path11: "\ea7f";
$icon-kube-bench-white-path12: "\ea80";
$icon-kube-bench-white-path13: "\ea81";
$icon-kube-bench-white-path14: "\ea82";
$icon-kube-bench-white-path15: "\ea83";
$icon-kube-bench-white-path16: "\ea84";
$icon-kube-bench-white-path17: "\ea85";
$icon-kube-bench-white-path18: "\ea86";
$icon-kube-bench-white-path19: "\ea87";
$icon-kubemq-path1: "\ea88";
$icon-kubemq-path2: "\ea89";
$icon-metallb-path1: "\ea8a";
$icon-metallb-path2: "\ea8b";
$icon-metallb-path3: "\ea8c";
$icon-Mysql: "\ea8d";
$icon-nats-path1: "\ea8e";
$icon-nats-path2: "\ea8f";
$icon-nats-path3: "\ea90";
$icon-nats-path4: "\ea91";
$icon-nats-path5: "\ea92";
$icon-nats-path6: "\ea93";
$icon-nats-path7: "\ea94";
$icon-nats-path8: "\ea95";
$icon-nats-path9: "\ea96";
$icon-nats-icon-white: "\ea97";
$icon-notary: "\ea98";
$icon-notary-icon-white: "\ea99";
$icon-notary-stacked-white: "\ea9a";
$icon-o-auth2-proxy-path1: "\ea9b";
$icon-o-auth2-proxy-path2: "\ea9c";
$icon-o-auth2-proxy-path3: "\ea9d";
$icon-o-auth2-proxy-path4: "\ea9e";
$icon-o-auth2-proxy-path5: "\ea9f";
$icon-o-auth2-proxy-path6: "\eaa0";
$icon-o-auth2-proxy-path7: "\eaa1";
$icon-o-auth2-proxy-white-path1: "\eaa2";
$icon-o-auth2-proxy-white-path2: "\eaa3";
$icon-o-auth2-proxy-white-path3: "\eaa4";
$icon-o-auth2-proxy-white-path4: "\eaa5";
$icon-o-auth2-proxy-white-path5: "\eaa6";
$icon-opa-icon-white-path1: "\eaa7";
$icon-opa-icon-white-path2: "\eaa8";
$icon-opa-icon-white-path3: "\eaa9";
$icon-postgresql-path1: "\eaaa";
$icon-postgresql-path2: "\eaab";
$icon-postgresql-path3: "\eaac";
$icon-postgresql-path4: "\eaad";
$icon-postgresql-path5: "\eaae";
$icon-postgresql-path6: "\eaaf";
$icon-postgresql-path7: "\eab0";
$icon-postgresql-path8: "\eab1";
$icon-postgresql-path9: "\eab2";
$icon-powerful-seal-path1: "\eab3";
$icon-powerful-seal-path2: "\eab4";
$icon-powerful-seal-path3: "\eab5";
$icon-powerful-seal-path4: "\eab6";
$icon-powerful-seal-path5: "\eab7";
$icon-powerful-seal-path6: "\eab8";
$icon-powerful-seal-white: "\eab9";
$icon-prometheus-black: "\eaba";
$icon-prometheus-trans: "\eabb";
$icon-prometheus-white: "\eabc";
$icon-prometheus-stacked-black: "\eabd";
$icon-rancher: "\eabe";
$icon-redis-path1: "\eabf";
$icon-redis-path2: "\eac0";
$icon-redis-path3: "\eac1";
$icon-redis-path4: "\eac2";
$icon-redis-path5: "\eac3";
$icon-redis-path6: "\eac4";
$icon-redis-path7: "\eac5";
$icon-redis-path8: "\eac6";
$icon-redis-path9: "\eac7";
$icon-redis-path10: "\eac8";
$icon-rook-white: "\eac9";
$icon-sonobuoy-path1: "\eaca";
$icon-sonobuoy-path2: "\eacb";
$icon-sonobuoy-path3: "\eacc";
$icon-sonobuoy-path4: "\eacd";
$icon-sonobuoy-path5: "\eace";
$icon-sonobuoy-path6: "\eacf";
$icon-sonobuoy-path7: "\ead0";
$icon-sonobuoy-path8: "\ead1";
$icon-sonobuoy-path9: "\ead2";
$icon-sonobuoy-path10: "\ead3";
$icon-sonobuoy-path11: "\ead4";
$icon-sonobuoy-path12: "\ead5";
$icon-sonobuoy-white: "\ead6";
$icon-terraform-path1: "\ead7";
$icon-terraform-path2: "\ead8";
$icon-terraform-path3: "\ead9";
$icon-terraform-path4: "\eada";
$icon-terraform-path5: "\eadb";
$icon-terraform-white: "\eadc";
$icon-the-update-framework-tuf-path1: "\eadd";
$icon-the-update-framework-tuf-path2: "\eade";
$icon-the-update-framework-tuf-path3: "\eadf";
$icon-the-update-framework-tuf-path4: "\eae0";
$icon-the-update-framework-tuf-path5: "\eae1";
$icon-the-update-framework-tuf-path6: "\eae2";
$icon-the-update-framework-tuf-path7: "\eae3";
$icon-the-update-framework-tuf-path8: "\eae4";
$icon-the-update-framework-tuf-path9: "\eae5";
$icon-the-update-framework-tuf-path10: "\eae6";
$icon-the-update-framework-tuf-white-path1: "\eae7";
$icon-the-update-framework-tuf-white-path2: "\eae8";
$icon-the-update-framework-tuf-white-path3: "\eae9";
$icon-the-update-framework-tuf-white-path4: "\eaea";
$icon-the-update-framework-tuf-white-path5: "\eaeb";
$icon-the-update-framework-tuf-white-path6: "\eaec";
$icon-the-update-framework-tuf-white-path7: "\eaed";
$icon-the-update-framework-tuf-white-path8: "\eaee";
$icon-the-update-framework-tuf-white-path9: "\eaef";
$icon-the-update-framework-tuf-white-path10: "\eaf0";
$icon-vault-char: "\eaf1";
$icon-vault: "\eaf2";
$icon-keyonbit-white4-path1: "\eaf3";
$icon-keyonbit-white4-path2: "\eaf4";
$icon-keyonbit-white4-path3: "\eaf5";
$icon-keyonbit-white4-path4: "\eaf6";
$icon-keyonbit-white4-path5: "\eaf7";
$icon-keyonbit-white4-path6: "\eaf8";
$icon-keyonbit-white4-path7: "\eaf9";
$icon-keyonbit-white4-path8: "\eafa";
$icon-keyonbit-white4-path9: "\eafb";
$icon-keyonbit-white2-path1: "\eafc";
$icon-keyonbit-white2-path2: "\eafd";
$icon-keyonbit-white2-path3: "\eafe";
$icon-keyonbit-white2-path4: "\eaff";
$icon-keyonbit-white2-path5: "\eb00";
$icon-keyonbit-white2-path6: "\eb01";
$icon-keyonbit-white2-path7: "\eb02";
$icon-keyonbit-white2-path8: "\eb03";
$icon-keyonbit-white2-path9: "\eb04";
$icon-keyonbit-white3: "\eb05";
$icon-keyonbit1-black: "\eb06";
$icon-keyonbit1-blue: "\eb07";
$icon-keyonbit2-black-path1: "\eb08";
$icon-keyonbit2-black-path2: "\eb09";
$icon-keyonbit2-black-path3: "\eb0a";
$icon-keyonbit2-black-path4: "\eb0b";
$icon-keyonbit2-black-path5: "\eb0c";
$icon-keyonbit2-black-path6: "\eb0d";
$icon-keyonbit2-black-path7: "\eb0e";
$icon-keyonbit2-black-path8: "\eb0f";
$icon-keyonbit2-black-path9: "\eb10";
$icon-keyonbit2-black-path10: "\eb11";
$icon-keyonbit2-blue-path1: "\eb12";
$icon-keyonbit2-blue-path2: "\eb13";
$icon-keyonbit2-blue-path3: "\eb14";
$icon-keyonbit2-blue-path4: "\eb15";
$icon-keyonbit2-blue-path5: "\eb16";
$icon-keyonbit2-blue-path6: "\eb17";
$icon-keyonbit2-blue-path7: "\eb18";
$icon-keyonbit2-blue-path8: "\eb19";
$icon-keyonbit2-blue-path9: "\eb1a";
$icon-keyonbit2-white1-path1: "\eb1b";
$icon-keyonbit2-white1-path2: "\eb1c";
$icon-keyonbit2-white1-path3: "\eb1d";
$icon-keyonbit2-white1-path4: "\eb1e";
$icon-keyonbit2-white1-path5: "\eb1f";
$icon-keyonbit2-white1-path6: "\eb20";
$icon-keyonbit2-white1-path7: "\eb21";
$icon-keyonbit2-white1-path8: "\eb22";
$icon-keyonbit2-white1-path9: "\eb23";

