@import "kubernetes-icon-variable";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vvvp6q');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?vvvp6q#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?vvvp6q') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?vvvp6q') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?vvvp6q##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anchore {
  &:before {
    content: $icon-anchore;     
    color: #307fe2;
  }
}
.icon-anchore-white {
  &:before {
    content: $icon-anchore-white;     
    color: #fff;
  }
}
.icon-ansible .path1 {
  &:before {
    content: $icon-ansible-path1;  
    color: rgb(26, 25, 24);
  }
}
.icon-ansible .path2 {
  &:before {
    content: $icon-ansible-path2;  
    margin-left: -0.8125em;  
    color: rgb(26, 25, 24);
  }
}
.icon-ansible .path3 {
  &:before {
    content: $icon-ansible-path3;  
    margin-left: -0.8125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-ansible-white {
  &:before {
    content: $icon-ansible-white;     
    color: #fff;
  }
}
.icon-argo .path1 {
  &:before {
    content: $icon-argo-path1;  
    color: rgb(254, 254, 254);
  }
}
.icon-argo .path2 {
  &:before {
    content: $icon-argo-path2;  
    margin-left: -0.6728515625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-argo .path3 {
  &:before {
    content: $icon-argo-path3;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 115, 62);
  }
}
.icon-argo .path4 {
  &:before {
    content: $icon-argo-path4;  
    margin-left: -0.6728515625em;  
    color: rgb(181, 210, 243);
  }
}
.icon-argo .path5 {
  &:before {
    content: $icon-argo-path5;  
    margin-left: -0.6728515625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-argo .path6 {
  &:before {
    content: $icon-argo-path6;  
    margin-left: -0.6728515625em;  
    color: rgb(1, 1, 1);
  }
}
.icon-argo .path7 {
  &:before {
    content: $icon-argo-path7;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 104, 75);
  }
}
.icon-argo .path8 {
  &:before {
    content: $icon-argo-path8;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 100, 70);
  }
}
.icon-argo .path9 {
  &:before {
    content: $icon-argo-path9;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 214, 200);
  }
}
.icon-argo .path10 {
  &:before {
    content: $icon-argo-path10;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 235, 227);
  }
}
.icon-argo .path11 {
  &:before {
    content: $icon-argo-path11;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 145, 102);
  }
}
.icon-argo .path12 {
  &:before {
    content: $icon-argo-path12;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 143, 100);
  }
}
.icon-argo .path13 {
  &:before {
    content: $icon-argo-path13;  
    margin-left: -0.6728515625em;  
    color: rgb(226, 245, 252);
  }
}
.icon-argo .path14 {
  &:before {
    content: $icon-argo-path14;  
    margin-left: -0.6728515625em;  
    color: rgb(205, 236, 246);
  }
}
.icon-argo .path15 {
  &:before {
    content: $icon-argo-path15;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 107, 60);
  }
}
.icon-argo .path16 {
  &:before {
    content: $icon-argo-path16;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 97, 66);
  }
}
.icon-argo .path17 {
  &:before {
    content: $icon-argo-path17;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 97, 67);
  }
}
.icon-argo .path18 {
  &:before {
    content: $icon-argo-path18;  
    margin-left: -0.6728515625em;  
    color: rgb(7, 9, 9);
  }
}
.icon-argo .path19 {
  &:before {
    content: $icon-argo-path19;  
    margin-left: -0.6728515625em;  
    color: rgb(253, 252, 251);
  }
}
.icon-argo .path20 {
  &:before {
    content: $icon-argo-path20;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 167, 119);
  }
}
.icon-argo .path21 {
  &:before {
    content: $icon-argo-path21;  
    margin-left: -0.6728515625em;  
    color: rgb(253, 254, 254);
  }
}
.icon-argo .path22 {
  &:before {
    content: $icon-argo-path22;  
    margin-left: -0.6728515625em;  
    color: rgb(251, 253, 254);
  }
}
.icon-argo .path23 {
  &:before {
    content: $icon-argo-path23;  
    margin-left: -0.6728515625em;  
    color: rgb(254, 254, 254);
  }
}
.icon-argo .path24 {
  &:before {
    content: $icon-argo-path24;  
    margin-left: -0.6728515625em;  
    color: rgb(9, 11, 11);
  }
}
.icon-argo .path25 {
  &:before {
    content: $icon-argo-path25;  
    margin-left: -0.6728515625em;  
    color: rgb(9, 12, 12);
  }
}
.icon-argo-white .path1 {
  &:before {
    content: $icon-argo-white-path1;  
    color: rgb(254, 254, 254);
  }
}
.icon-argo-white .path2 {
  &:before {
    content: $icon-argo-white-path2;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path3 {
  &:before {
    content: $icon-argo-white-path3;  
    margin-left: -0.78515625em;  
    color: rgb(204, 204, 204);
  }
}
.icon-argo-white .path4 {
  &:before {
    content: $icon-argo-white-path4;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path5 {
  &:before {
    content: $icon-argo-white-path5;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path6 {
  &:before {
    content: $icon-argo-white-path6;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path7 {
  &:before {
    content: $icon-argo-white-path7;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path8 {
  &:before {
    content: $icon-argo-white-path8;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path9 {
  &:before {
    content: $icon-argo-white-path9;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path10 {
  &:before {
    content: $icon-argo-white-path10;  
    margin-left: -0.78515625em;  
    color: rgb(242, 242, 242);
  }
}
.icon-argo-white .path11 {
  &:before {
    content: $icon-argo-white-path11;  
    margin-left: -0.78515625em;  
    color: rgb(242, 242, 242);
  }
}
.icon-argo-white .path12 {
  &:before {
    content: $icon-argo-white-path12;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path13 {
  &:before {
    content: $icon-argo-white-path13;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path14 {
  &:before {
    content: $icon-argo-white-path14;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path15 {
  &:before {
    content: $icon-argo-white-path15;  
    margin-left: -0.78515625em;  
    color: rgb(242, 242, 242);
  }
}
.icon-argo-white .path16 {
  &:before {
    content: $icon-argo-white-path16;  
    margin-left: -0.78515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-argo-white .path17 {
  &:before {
    content: $icon-argo-white-path17;  
    margin-left: -0.78515625em;  
    color: rgb(253, 254, 254);
  }
}
.icon-argo-white .path18 {
  &:before {
    content: $icon-argo-white-path18;  
    margin-left: -0.78515625em;  
    color: rgb(251, 253, 254);
  }
}
.icon-argo-white .path19 {
  &:before {
    content: $icon-argo-white-path19;  
    margin-left: -0.78515625em;  
    color: rgb(254, 254, 254);
  }
}
.icon-argo-white .path20 {
  &:before {
    content: $icon-argo-white-path20;  
    margin-left: -0.78515625em;  
    color: rgb(242, 242, 242);
  }
}
.icon-argo-white .path21 {
  &:before {
    content: $icon-argo-white-path21;  
    margin-left: -0.78515625em;  
    color: rgb(242, 242, 242);
  }
}
.icon-athenz .path1 {
  &:before {
    content: $icon-athenz-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-athenz .path2 {
  &:before {
    content: $icon-athenz-path2;  
    margin-left: -1.2001953125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-athenz .path3 {
  &:before {
    content: $icon-athenz-path3;  
    margin-left: -1.2001953125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-athenz .path4 {
  &:before {
    content: $icon-athenz-path4;  
    margin-left: -1.2001953125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-athenz .path5 {
  &:before {
    content: $icon-athenz-path5;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz .path6 {
  &:before {
    content: $icon-athenz-path6;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz .path7 {
  &:before {
    content: $icon-athenz-path7;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz .path8 {
  &:before {
    content: $icon-athenz-path8;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz .path9 {
  &:before {
    content: $icon-athenz-path9;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz .path10 {
  &:before {
    content: $icon-athenz-path10;  
    margin-left: -1.2001953125em;  
    color: rgb(48, 48, 48);
  }
}
.icon-athenz-white {
  &:before {
    content: $icon-athenz-white; 
  }
}
.icon-cert-manager .path1 {
  &:before {
    content: $icon-cert-manager-path1;  
    color: rgb(50, 108, 229);
  }
}
.icon-cert-manager .path2 {
  &:before {
    content: $icon-cert-manager-path2;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path3 {
  &:before {
    content: $icon-cert-manager-path3;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path4 {
  &:before {
    content: $icon-cert-manager-path4;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path5 {
  &:before {
    content: $icon-cert-manager-path5;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path6 {
  &:before {
    content: $icon-cert-manager-path6;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path7 {
  &:before {
    content: $icon-cert-manager-path7;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path8 {
  &:before {
    content: $icon-cert-manager-path8;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path9 {
  &:before {
    content: $icon-cert-manager-path9;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path10 {
  &:before {
    content: $icon-cert-manager-path10;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path11 {
  &:before {
    content: $icon-cert-manager-path11;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path12 {
  &:before {
    content: $icon-cert-manager-path12;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path13 {
  &:before {
    content: $icon-cert-manager-path13;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager .path14 {
  &:before {
    content: $icon-cert-manager-path14;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager-white .path1 {
  &:before {
    content: $icon-cert-manager-white-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager-white .path2 {
  &:before {
    content: $icon-cert-manager-white-path2;  
    margin-left: -1.0341796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-cert-manager-white .path3 {
  &:before {
    content: $icon-cert-manager-white-path3;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path4 {
  &:before {
    content: $icon-cert-manager-white-path4;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path5 {
  &:before {
    content: $icon-cert-manager-white-path5;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path6 {
  &:before {
    content: $icon-cert-manager-white-path6;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path7 {
  &:before {
    content: $icon-cert-manager-white-path7;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path8 {
  &:before {
    content: $icon-cert-manager-white-path8;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path9 {
  &:before {
    content: $icon-cert-manager-white-path9;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path10 {
  &:before {
    content: $icon-cert-manager-white-path10;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path11 {
  &:before {
    content: $icon-cert-manager-white-path11;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path12 {
  &:before {
    content: $icon-cert-manager-white-path12;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path13 {
  &:before {
    content: $icon-cert-manager-white-path13;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-cert-manager-white .path14 {
  &:before {
    content: $icon-cert-manager-white-path14;  
    margin-left: -1.0341796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-clair .path1 {
  &:before {
    content: $icon-clair-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-clair .path2 {
  &:before {
    content: $icon-clair-path2;  
    margin-left: -2.91015625em;  
    color: rgb(86, 163, 217);
  }
}
.icon-clair .path3 {
  &:before {
    content: $icon-clair-path3;  
    margin-left: -2.91015625em;  
    color: rgb(86, 163, 217);
  }
}
.icon-clair .path4 {
  &:before {
    content: $icon-clair-path4;  
    margin-left: -2.91015625em;  
    color: rgb(241, 98, 110);
  }
}
.icon-clair-white .path1 {
  &:before {
    content: $icon-clair-white-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-clair-white .path2 {
  &:before {
    content: $icon-clair-white-path2;  
    margin-left: -2.91015625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-clair-white .path3 {
  &:before {
    content: $icon-clair-white-path3;  
    margin-left: -2.91015625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-clair-white .path4 {
  &:before {
    content: $icon-clair-white-path4;  
    margin-left: -2.91015625em;  
    color: rgb(204, 204, 204);
  }
}
.icon-consul {
  &:before {
    content: $icon-consul;     
    color: #fff;
  }
}
.icon-consul-white .path1 {
  &:before {
    content: $icon-consul-white-path1;  
    color: rgb(224, 224, 224);
  }
}
.icon-consul-white .path2 {
  &:before {
    content: $icon-consul-white-path2;  
    margin-left: -1.0322265625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-core-dns .path1 {
  &:before {
    content: $icon-core-dns-path1;  
    color: rgb(67, 67, 67);
  }
}
.icon-core-dns .path2 {
  &:before {
    content: $icon-core-dns-path2;  
    margin-left: -1.216796875em;  
    color: rgb(154, 154, 154);
  }
}
.icon-core-dns .path3 {
  &:before {
    content: $icon-core-dns-path3;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path4 {
  &:before {
    content: $icon-core-dns-path4;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path5 {
  &:before {
    content: $icon-core-dns-path5;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path6 {
  &:before {
    content: $icon-core-dns-path6;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path7 {
  &:before {
    content: $icon-core-dns-path7;  
    margin-left: -1.216796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-core-dns .path8 {
  &:before {
    content: $icon-core-dns-path8;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-core-dns .path9 {
  &:before {
    content: $icon-core-dns-path9;  
    margin-left: -1.216796875em;  
    color: rgb(91, 45, 130);
  }
}
.icon-core-dns .path10 {
  &:before {
    content: $icon-core-dns-path10;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path11 {
  &:before {
    content: $icon-core-dns-path11;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path12 {
  &:before {
    content: $icon-core-dns-path12;  
    margin-left: -1.216796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-core-dns .path13 {
  &:before {
    content: $icon-core-dns-path13;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path14 {
  &:before {
    content: $icon-core-dns-path14;  
    margin-left: -1.216796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-core-dns .path15 {
  &:before {
    content: $icon-core-dns-path15;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path16 {
  &:before {
    content: $icon-core-dns-path16;  
    margin-left: -1.216796875em;  
    color: rgb(255, 255, 255);
  }
}
.icon-core-dns .path17 {
  &:before {
    content: $icon-core-dns-path17;  
    margin-left: -1.216796875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-core-dns .path18 {
  &:before {
    content: $icon-core-dns-path18;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-core-dns .path19 {
  &:before {
    content: $icon-core-dns-path19;  
    margin-left: -1.216796875em;  
    color: rgb(91, 45, 130);
  }
}
.icon-core-dns .path20 {
  &:before {
    content: $icon-core-dns-path20;  
    margin-left: -1.216796875em;  
    color: rgb(91, 45, 130);
  }
}
.icon-core-dns .path21 {
  &:before {
    content: $icon-core-dns-path21;  
    margin-left: -1.216796875em;  
    color: rgb(91, 45, 130);
  }
}
.icon-core-dns .path22 {
  &:before {
    content: $icon-core-dns-path22;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-core-dns .path23 {
  &:before {
    content: $icon-core-dns-path23;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-core-dns .path24 {
  &:before {
    content: $icon-core-dns-path24;  
    margin-left: -1.216796875em;  
    color: rgb(98, 51, 147);
  }
}
.icon-core-dns .path25 {
  &:before {
    content: $icon-core-dns-path25;  
    margin-left: -1.216796875em;  
    color: rgb(98, 51, 147);
  }
}
.icon-core-dns .path26 {
  &:before {
    content: $icon-core-dns-path26;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-core-dns .path27 {
  &:before {
    content: $icon-core-dns-path27;  
    margin-left: -1.216796875em;  
    color: rgb(44, 37, 108);
  }
}
.icon-drone {
  &:before {
    content: $icon-drone; 
  }
}
.icon-falco {
  &:before {
    content: $icon-falco;     
    color: #00b4c8;
  }
}
.icon-falco-white {
  &:before {
    content: $icon-falco-white;     
    color: #fff;
  }
}
.icon-fluentd-black .path1 {
  &:before {
    content: $icon-fluentd-black-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path2 {
  &:before {
    content: $icon-fluentd-black-path2;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path3 {
  &:before {
    content: $icon-fluentd-black-path3;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path4 {
  &:before {
    content: $icon-fluentd-black-path4;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path5 {
  &:before {
    content: $icon-fluentd-black-path5;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path6 {
  &:before {
    content: $icon-fluentd-black-path6;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path7 {
  &:before {
    content: $icon-fluentd-black-path7;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path8 {
  &:before {
    content: $icon-fluentd-black-path8;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path9 {
  &:before {
    content: $icon-fluentd-black-path9;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path10 {
  &:before {
    content: $icon-fluentd-black-path10;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path11 {
  &:before {
    content: $icon-fluentd-black-path11;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path12 {
  &:before {
    content: $icon-fluentd-black-path12;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path13 {
  &:before {
    content: $icon-fluentd-black-path13;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path14 {
  &:before {
    content: $icon-fluentd-black-path14;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path15 {
  &:before {
    content: $icon-fluentd-black-path15;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path16 {
  &:before {
    content: $icon-fluentd-black-path16;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path17 {
  &:before {
    content: $icon-fluentd-black-path17;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path18 {
  &:before {
    content: $icon-fluentd-black-path18;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path19 {
  &:before {
    content: $icon-fluentd-black-path19;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path20 {
  &:before {
    content: $icon-fluentd-black-path20;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path21 {
  &:before {
    content: $icon-fluentd-black-path21;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path22 {
  &:before {
    content: $icon-fluentd-black-path22;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path23 {
  &:before {
    content: $icon-fluentd-black-path23;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path24 {
  &:before {
    content: $icon-fluentd-black-path24;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path25 {
  &:before {
    content: $icon-fluentd-black-path25;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path26 {
  &:before {
    content: $icon-fluentd-black-path26;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path27 {
  &:before {
    content: $icon-fluentd-black-path27;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path28 {
  &:before {
    content: $icon-fluentd-black-path28;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path29 {
  &:before {
    content: $icon-fluentd-black-path29;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path30 {
  &:before {
    content: $icon-fluentd-black-path30;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path31 {
  &:before {
    content: $icon-fluentd-black-path31;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path32 {
  &:before {
    content: $icon-fluentd-black-path32;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path33 {
  &:before {
    content: $icon-fluentd-black-path33;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path34 {
  &:before {
    content: $icon-fluentd-black-path34;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path35 {
  &:before {
    content: $icon-fluentd-black-path35;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path36 {
  &:before {
    content: $icon-fluentd-black-path36;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path37 {
  &:before {
    content: $icon-fluentd-black-path37;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path38 {
  &:before {
    content: $icon-fluentd-black-path38;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path39 {
  &:before {
    content: $icon-fluentd-black-path39;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path40 {
  &:before {
    content: $icon-fluentd-black-path40;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path41 {
  &:before {
    content: $icon-fluentd-black-path41;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path42 {
  &:before {
    content: $icon-fluentd-black-path42;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path43 {
  &:before {
    content: $icon-fluentd-black-path43;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path44 {
  &:before {
    content: $icon-fluentd-black-path44;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path45 {
  &:before {
    content: $icon-fluentd-black-path45;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path46 {
  &:before {
    content: $icon-fluentd-black-path46;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path47 {
  &:before {
    content: $icon-fluentd-black-path47;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path48 {
  &:before {
    content: $icon-fluentd-black-path48;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path49 {
  &:before {
    content: $icon-fluentd-black-path49;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path50 {
  &:before {
    content: $icon-fluentd-black-path50;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path51 {
  &:before {
    content: $icon-fluentd-black-path51;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path52 {
  &:before {
    content: $icon-fluentd-black-path52;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path53 {
  &:before {
    content: $icon-fluentd-black-path53;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path54 {
  &:before {
    content: $icon-fluentd-black-path54;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path55 {
  &:before {
    content: $icon-fluentd-black-path55;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path56 {
  &:before {
    content: $icon-fluentd-black-path56;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path57 {
  &:before {
    content: $icon-fluentd-black-path57;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path58 {
  &:before {
    content: $icon-fluentd-black-path58;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path59 {
  &:before {
    content: $icon-fluentd-black-path59;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path60 {
  &:before {
    content: $icon-fluentd-black-path60;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path61 {
  &:before {
    content: $icon-fluentd-black-path61;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path62 {
  &:before {
    content: $icon-fluentd-black-path62;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path63 {
  &:before {
    content: $icon-fluentd-black-path63;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path64 {
  &:before {
    content: $icon-fluentd-black-path64;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path65 {
  &:before {
    content: $icon-fluentd-black-path65;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path66 {
  &:before {
    content: $icon-fluentd-black-path66;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path67 {
  &:before {
    content: $icon-fluentd-black-path67;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path68 {
  &:before {
    content: $icon-fluentd-black-path68;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path69 {
  &:before {
    content: $icon-fluentd-black-path69;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path70 {
  &:before {
    content: $icon-fluentd-black-path70;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path71 {
  &:before {
    content: $icon-fluentd-black-path71;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path72 {
  &:before {
    content: $icon-fluentd-black-path72;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path73 {
  &:before {
    content: $icon-fluentd-black-path73;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path74 {
  &:before {
    content: $icon-fluentd-black-path74;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path75 {
  &:before {
    content: $icon-fluentd-black-path75;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path76 {
  &:before {
    content: $icon-fluentd-black-path76;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path77 {
  &:before {
    content: $icon-fluentd-black-path77;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path78 {
  &:before {
    content: $icon-fluentd-black-path78;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path79 {
  &:before {
    content: $icon-fluentd-black-path79;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path80 {
  &:before {
    content: $icon-fluentd-black-path80;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path81 {
  &:before {
    content: $icon-fluentd-black-path81;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path82 {
  &:before {
    content: $icon-fluentd-black-path82;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path83 {
  &:before {
    content: $icon-fluentd-black-path83;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path84 {
  &:before {
    content: $icon-fluentd-black-path84;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path85 {
  &:before {
    content: $icon-fluentd-black-path85;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path86 {
  &:before {
    content: $icon-fluentd-black-path86;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path87 {
  &:before {
    content: $icon-fluentd-black-path87;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path88 {
  &:before {
    content: $icon-fluentd-black-path88;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path89 {
  &:before {
    content: $icon-fluentd-black-path89;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path90 {
  &:before {
    content: $icon-fluentd-black-path90;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path91 {
  &:before {
    content: $icon-fluentd-black-path91;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path92 {
  &:before {
    content: $icon-fluentd-black-path92;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path93 {
  &:before {
    content: $icon-fluentd-black-path93;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path94 {
  &:before {
    content: $icon-fluentd-black-path94;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path95 {
  &:before {
    content: $icon-fluentd-black-path95;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path96 {
  &:before {
    content: $icon-fluentd-black-path96;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);  
    opacity: 0.7;
  }
}
.icon-fluentd-black .path97 {
  &:before {
    content: $icon-fluentd-black-path97;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path98 {
  &:before {
    content: $icon-fluentd-black-path98;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path99 {
  &:before {
    content: $icon-fluentd-black-path99;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path100 {
  &:before {
    content: $icon-fluentd-black-path100;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path101 {
  &:before {
    content: $icon-fluentd-black-path101;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path102 {
  &:before {
    content: $icon-fluentd-black-path102;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path103 {
  &:before {
    content: $icon-fluentd-black-path103;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path104 {
  &:before {
    content: $icon-fluentd-black-path104;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path105 {
  &:before {
    content: $icon-fluentd-black-path105;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path106 {
  &:before {
    content: $icon-fluentd-black-path106;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path107 {
  &:before {
    content: $icon-fluentd-black-path107;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path108 {
  &:before {
    content: $icon-fluentd-black-path108;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path109 {
  &:before {
    content: $icon-fluentd-black-path109;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path110 {
  &:before {
    content: $icon-fluentd-black-path110;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path111 {
  &:before {
    content: $icon-fluentd-black-path111;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path112 {
  &:before {
    content: $icon-fluentd-black-path112;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path113 {
  &:before {
    content: $icon-fluentd-black-path113;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path114 {
  &:before {
    content: $icon-fluentd-black-path114;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path115 {
  &:before {
    content: $icon-fluentd-black-path115;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path116 {
  &:before {
    content: $icon-fluentd-black-path116;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path117 {
  &:before {
    content: $icon-fluentd-black-path117;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path118 {
  &:before {
    content: $icon-fluentd-black-path118;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path119 {
  &:before {
    content: $icon-fluentd-black-path119;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path120 {
  &:before {
    content: $icon-fluentd-black-path120;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path121 {
  &:before {
    content: $icon-fluentd-black-path121;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path122 {
  &:before {
    content: $icon-fluentd-black-path122;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path123 {
  &:before {
    content: $icon-fluentd-black-path123;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path124 {
  &:before {
    content: $icon-fluentd-black-path124;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path125 {
  &:before {
    content: $icon-fluentd-black-path125;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path126 {
  &:before {
    content: $icon-fluentd-black-path126;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-black .path127 {
  &:before {
    content: $icon-fluentd-black-path127;  
    margin-left: -1.2041015625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-fluentd-white .path1 {
  &:before {
    content: $icon-fluentd-white-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path2 {
  &:before {
    content: $icon-fluentd-white-path2;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path3 {
  &:before {
    content: $icon-fluentd-white-path3;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path4 {
  &:before {
    content: $icon-fluentd-white-path4;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path5 {
  &:before {
    content: $icon-fluentd-white-path5;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path6 {
  &:before {
    content: $icon-fluentd-white-path6;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path7 {
  &:before {
    content: $icon-fluentd-white-path7;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path8 {
  &:before {
    content: $icon-fluentd-white-path8;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path9 {
  &:before {
    content: $icon-fluentd-white-path9;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path10 {
  &:before {
    content: $icon-fluentd-white-path10;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path11 {
  &:before {
    content: $icon-fluentd-white-path11;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path12 {
  &:before {
    content: $icon-fluentd-white-path12;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path13 {
  &:before {
    content: $icon-fluentd-white-path13;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path14 {
  &:before {
    content: $icon-fluentd-white-path14;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path15 {
  &:before {
    content: $icon-fluentd-white-path15;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path16 {
  &:before {
    content: $icon-fluentd-white-path16;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path17 {
  &:before {
    content: $icon-fluentd-white-path17;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path18 {
  &:before {
    content: $icon-fluentd-white-path18;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);  
    opacity: 0.7;
  }
}
.icon-fluentd-white .path19 {
  &:before {
    content: $icon-fluentd-white-path19;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path20 {
  &:before {
    content: $icon-fluentd-white-path20;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path21 {
  &:before {
    content: $icon-fluentd-white-path21;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-fluentd-white .path22 {
  &:before {
    content: $icon-fluentd-white-path22;  
    margin-left: -1.095703125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gitea .path1 {
  &:before {
    content: $icon-gitea-path1;  
    color: rgb(96, 153, 38);
  }
}
.icon-gitea .path2 {
  &:before {
    content: $icon-gitea-path2;  
    margin-left: -1.5em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gitea .path3 {
  &:before {
    content: $icon-gitea-path3;  
    margin-left: -1.5em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gitea .path4 {
  &:before {
    content: $icon-gitea-path4;  
    margin-left: -1.5em;  
    color: rgb(96, 153, 38);
  }
}
.icon-gitea .path5 {
  &:before {
    content: $icon-gitea-path5;  
    margin-left: -1.5em;  
    color: rgb(96, 153, 38);
  }
}
.icon-gitea .path6 {
  &:before {
    content: $icon-gitea-path6;  
    margin-left: -1.5em;  
    color: rgb(96, 153, 38);
  }
}
.icon-gitea .path7 {
  &:before {
    content: $icon-gitea-path7;  
    margin-left: -1.5em;  
    color: rgb(96, 153, 38);
  }
}
.icon-gitlab-white {
  &:before {
    content: $icon-gitlab-white;     
    color: #fff;
  }
}
.icon-gloo .path1 {
  &:before {
    content: $icon-gloo-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.24;
  }
}
.icon-gloo .path2 {
  &:before {
    content: $icon-gloo-path2;  
    margin-left: -0.8330078125em;  
    color: rgb(90, 172, 216);
  }
}
.icon-gloo .path3 {
  &:before {
    content: $icon-gloo-path3;  
    margin-left: -0.8330078125em;  
    color: rgb(100, 187, 228);
  }
}
.icon-gloo .path4 {
  &:before {
    content: $icon-gloo-path4;  
    margin-left: -0.8330078125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gloo .path5 {
  &:before {
    content: $icon-gloo-path5;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 60, 106);
  }
}
.icon-gloo .path6 {
  &:before {
    content: $icon-gloo-path6;  
    margin-left: -0.8330078125em;  
    color: rgb(90, 172, 216);
  }
}
.icon-gloo .path7 {
  &:before {
    content: $icon-gloo-path7;  
    margin-left: -0.8330078125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gloo .path8 {
  &:before {
    content: $icon-gloo-path8;  
    margin-left: -0.8330078125em;  
    color: rgb(244, 250, 251);
  }
}
.icon-gloo .path9 {
  &:before {
    content: $icon-gloo-path9;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 60, 106);
  }
}
.icon-gloo .path10 {
  &:before {
    content: $icon-gloo-path10;  
    margin-left: -0.8330078125em;  
    color: rgb(244, 250, 251);
  }
}
.icon-gloo .path11 {
  &:before {
    content: $icon-gloo-path11;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 60, 106);
  }
}
.icon-gloo .path12 {
  &:before {
    content: $icon-gloo-path12;  
    margin-left: -0.8330078125em;  
    color: rgb(244, 250, 251);
  }
}
.icon-gloo .path13 {
  &:before {
    content: $icon-gloo-path13;  
    margin-left: -0.8330078125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gloo .path14 {
  &:before {
    content: $icon-gloo-path14;  
    margin-left: -0.8330078125em;  
    color: rgb(90, 172, 216);
  }
}
.icon-gloo .path15 {
  &:before {
    content: $icon-gloo-path15;  
    margin-left: -0.8330078125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-gloo-white .path1 {
  &:before {
    content: $icon-gloo-white-path1;  
    color: rgb(0, 0, 0);  
    opacity: 0.24;
  }
}
.icon-gloo-white .path2 {
  &:before {
    content: $icon-gloo-white-path2;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path3 {
  &:before {
    content: $icon-gloo-white-path3;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path4 {
  &:before {
    content: $icon-gloo-white-path4;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path5 {
  &:before {
    content: $icon-gloo-white-path5;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path6 {
  &:before {
    content: $icon-gloo-white-path6;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path7 {
  &:before {
    content: $icon-gloo-white-path7;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path8 {
  &:before {
    content: $icon-gloo-white-path8;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path9 {
  &:before {
    content: $icon-gloo-white-path9;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path10 {
  &:before {
    content: $icon-gloo-white-path10;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path11 {
  &:before {
    content: $icon-gloo-white-path11;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path12 {
  &:before {
    content: $icon-gloo-white-path12;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path13 {
  &:before {
    content: $icon-gloo-white-path13;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-gloo-white .path14 {
  &:before {
    content: $icon-gloo-white-path14;  
    margin-left: -0.8330078125em;  
    color: rgb(255, 254, 254);
  }
}
.icon-gloo-white .path15 {
  &:before {
    content: $icon-gloo-white-path15;  
    margin-left: -0.8330078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-grafana {
  &:before {
    content: $icon-grafana; 
  }
}
.icon-grafana-white {
  &:before {
    content: $icon-grafana-white;     
    color: #fff;
  }
}
.icon-harbor .path1 {
  &:before {
    content: $icon-harbor-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-harbor .path2 {
  &:before {
    content: $icon-harbor-path2;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path3 {
  &:before {
    content: $icon-harbor-path3;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path4 {
  &:before {
    content: $icon-harbor-path4;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path5 {
  &:before {
    content: $icon-harbor-path5;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path6 {
  &:before {
    content: $icon-harbor-path6;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path7 {
  &:before {
    content: $icon-harbor-path7;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path8 {
  &:before {
    content: $icon-harbor-path8;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path9 {
  &:before {
    content: $icon-harbor-path9;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path10 {
  &:before {
    content: $icon-harbor-path10;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path11 {
  &:before {
    content: $icon-harbor-path11;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path12 {
  &:before {
    content: $icon-harbor-path12;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path13 {
  &:before {
    content: $icon-harbor-path13;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path14 {
  &:before {
    content: $icon-harbor-path14;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path15 {
  &:before {
    content: $icon-harbor-path15;  
    margin-left: -0.8115234375em;  
    color: rgb(105, 101, 102);
  }
}
.icon-harbor .path16 {
  &:before {
    content: $icon-harbor-path16;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path17 {
  &:before {
    content: $icon-harbor-path17;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor .path18 {
  &:before {
    content: $icon-harbor-path18;  
    margin-left: -0.8115234375em;  
    color: rgb(0, 0, 0);
  }
}
.icon-harbor-white {
  &:before {
    content: $icon-harbor-white;     
    color: #fff;
  }
}
.icon-helm-black {
  &:before {
    content: $icon-helm-black; 
  }
}
.icon-helm-white {
  &:before {
    content: $icon-helm-white;     
    color: #fff;
  }
}
.icon-istio {
  &:before {
    content: $icon-istio;     
    color: #466bb0;
  }
}
.icon-istio-char .path1 {
  &:before {
    content: $icon-istio-char-path1;  
    color: rgb(70, 107, 176);
  }
}
.icon-istio-char .path2 {
  &:before {
    content: $icon-istio-char-path2;  
    margin-left: -2em;  
    color: rgb(0, 0, 0);
  }
}
.icon-Jenkins {
  &:before {
    content: $icon-Jenkins; 
  }
}
.icon-kaniko .path1 {
  &:before {
    content: $icon-kaniko-path1;  
    color: rgb(153, 153, 153);
  }
}
.icon-kaniko .path2 {
  &:before {
    content: $icon-kaniko-path2;  
    margin-left: -3.923828125em;  
    color: rgb(253, 164, 3);
  }
}
.icon-kaniko .path3 {
  &:before {
    content: $icon-kaniko-path3;  
    margin-left: -3.923828125em;  
    color: rgb(153, 153, 153);
  }
}
.icon-kaniko-white .path1 {
  &:before {
    content: $icon-kaniko-white-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-kaniko-white .path2 {
  &:before {
    content: $icon-kaniko-white-path2;  
    margin-left: -1em;  
    color: rgb(236, 236, 236);
  }
}
.icon-kiali .path1 {
  &:before {
    content: $icon-kiali-path1;  
    color: rgb(1, 49, 68);
  }
}
.icon-kiali .path2 {
  &:before {
    content: $icon-kiali-path2;  
    margin-left: -2.982421875em;  
    color: rgb(0, 147, 221);
  }
}
.icon-kiali .path3 {
  &:before {
    content: $icon-kiali-path3;  
    margin-left: -2.982421875em;  
    color: rgb(0, 147, 221);
  }
}
.icon-kube-bench .path1 {
  &:before {
    content: $icon-kube-bench-path1;  
    color: rgb(10, 177, 213);
  }
}
.icon-kube-bench .path2 {
  &:before {
    content: $icon-kube-bench-path2;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path3 {
  &:before {
    content: $icon-kube-bench-path3;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path4 {
  &:before {
    content: $icon-kube-bench-path4;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path5 {
  &:before {
    content: $icon-kube-bench-path5;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path6 {
  &:before {
    content: $icon-kube-bench-path6;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path7 {
  &:before {
    content: $icon-kube-bench-path7;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path8 {
  &:before {
    content: $icon-kube-bench-path8;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path9 {
  &:before {
    content: $icon-kube-bench-path9;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path10 {
  &:before {
    content: $icon-kube-bench-path10;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path11 {
  &:before {
    content: $icon-kube-bench-path11;  
    margin-left: -1.146484375em;  
    color: rgb(70, 70, 72);
  }
}
.icon-kube-bench .path12 {
  &:before {
    content: $icon-kube-bench-path12;  
    margin-left: -1.146484375em;  
    color: rgb(241, 223, 54);
  }
}
.icon-kube-bench .path13 {
  &:before {
    content: $icon-kube-bench-path13;  
    margin-left: -1.146484375em;  
    color: rgb(250, 175, 66);
  }
}
.icon-kube-bench .path14 {
  &:before {
    content: $icon-kube-bench-path14;  
    margin-left: -1.146484375em;  
    color: rgb(250, 175, 66);
  }
}
.icon-kube-bench .path15 {
  &:before {
    content: $icon-kube-bench-path15;  
    margin-left: -1.146484375em;  
    color: rgb(154, 215, 236);
  }
}
.icon-kube-bench .path16 {
  &:before {
    content: $icon-kube-bench-path16;  
    margin-left: -1.146484375em;  
    color: rgb(154, 215, 236);
  }
}
.icon-kube-bench .path17 {
  &:before {
    content: $icon-kube-bench-path17;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench .path18 {
  &:before {
    content: $icon-kube-bench-path18;  
    margin-left: -1.146484375em;  
    color: rgb(18, 128, 196);
  }
}
.icon-kube-bench .path19 {
  &:before {
    content: $icon-kube-bench-path19;  
    margin-left: -1.146484375em;  
    color: rgb(18, 128, 196);
  }
}
.icon-kube-bench-white .path1 {
  &:before {
    content: $icon-kube-bench-white-path1;  
    color: rgb(128, 128, 128);
  }
}
.icon-kube-bench-white .path2 {
  &:before {
    content: $icon-kube-bench-white-path2;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path3 {
  &:before {
    content: $icon-kube-bench-white-path3;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path4 {
  &:before {
    content: $icon-kube-bench-white-path4;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path5 {
  &:before {
    content: $icon-kube-bench-white-path5;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path6 {
  &:before {
    content: $icon-kube-bench-white-path6;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path7 {
  &:before {
    content: $icon-kube-bench-white-path7;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path8 {
  &:before {
    content: $icon-kube-bench-white-path8;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path9 {
  &:before {
    content: $icon-kube-bench-white-path9;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path10 {
  &:before {
    content: $icon-kube-bench-white-path10;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path11 {
  &:before {
    content: $icon-kube-bench-white-path11;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path12 {
  &:before {
    content: $icon-kube-bench-white-path12;  
    margin-left: -1.146484375em;  
    color: rgb(242, 242, 242);
  }
}
.icon-kube-bench-white .path13 {
  &:before {
    content: $icon-kube-bench-white-path13;  
    margin-left: -1.146484375em;  
    color: rgb(230, 230, 230);
  }
}
.icon-kube-bench-white .path14 {
  &:before {
    content: $icon-kube-bench-white-path14;  
    margin-left: -1.146484375em;  
    color: rgb(230, 230, 230);
  }
}
.icon-kube-bench-white .path15 {
  &:before {
    content: $icon-kube-bench-white-path15;  
    margin-left: -1.146484375em;  
    color: rgb(179, 179, 179);
  }
}
.icon-kube-bench-white .path16 {
  &:before {
    content: $icon-kube-bench-white-path16;  
    margin-left: -1.146484375em;  
    color: rgb(179, 179, 179);
  }
}
.icon-kube-bench-white .path17 {
  &:before {
    content: $icon-kube-bench-white-path17;  
    margin-left: -1.146484375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-kube-bench-white .path18 {
  &:before {
    content: $icon-kube-bench-white-path18;  
    margin-left: -1.146484375em;  
    color: rgb(77, 77, 77);
  }
}
.icon-kube-bench-white .path19 {
  &:before {
    content: $icon-kube-bench-white-path19;  
    margin-left: -1.146484375em;  
    color: rgb(77, 77, 77);
  }
}
.icon-kubemq .path1 {
  &:before {
    content: $icon-kubemq-path1;  
    color: rgb(34, 130, 169);
  }
}
.icon-kubemq .path2 {
  &:before {
    content: $icon-kubemq-path2;  
    margin-left: -1.6328125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-metallb .path1 {
  &:before {
    content: $icon-metallb-path1;  
    color: rgb(63, 81, 180);
  }
}
.icon-metallb .path2 {
  &:before {
    content: $icon-metallb-path2;  
    margin-left: -0.7705078125em;  
    color: rgb(63, 81, 180);
  }
}
.icon-metallb .path3 {
  &:before {
    content: $icon-metallb-path3;  
    margin-left: -0.7705078125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-Mysql {
  &:before {
    content: $icon-Mysql; 
  }
}
.icon-nats .path1 {
  &:before {
    content: $icon-nats-path1;  
    color: rgb(39, 170, 225);
  }
}
.icon-nats .path2 {
  &:before {
    content: $icon-nats-path2;  
    margin-left: -3.6650390625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nats .path3 {
  &:before {
    content: $icon-nats-path3;  
    margin-left: -3.6650390625em;  
    color: rgb(52, 165, 116);
  }
}
.icon-nats .path4 {
  &:before {
    content: $icon-nats-path4;  
    margin-left: -3.6650390625em;  
    color: rgb(52, 165, 116);
  }
}
.icon-nats .path5 {
  &:before {
    content: $icon-nats-path5;  
    margin-left: -3.6650390625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nats .path6 {
  &:before {
    content: $icon-nats-path6;  
    margin-left: -3.6650390625em;  
    color: rgb(55, 92, 147);
  }
}
.icon-nats .path7 {
  &:before {
    content: $icon-nats-path7;  
    margin-left: -3.6650390625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nats .path8 {
  &:before {
    content: $icon-nats-path8;  
    margin-left: -3.6650390625em;  
    color: rgb(141, 198, 63);
  }
}
.icon-nats .path9 {
  &:before {
    content: $icon-nats-path9;  
    margin-left: -3.6650390625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-nats-icon-white {
  &:before {
    content: $icon-nats-icon-white;     
    color: #fff;
  }
}
.icon-notary {
  &:before {
    content: $icon-notary; 
  }
}
.icon-notary-icon-white {
  &:before {
    content: $icon-notary-icon-white;     
    color: #fff;
  }
}
.icon-notary-stacked-white {
  &:before {
    content: $icon-notary-stacked-white;     
    color: #fff;
  }
}
.icon-o-auth2-proxy .path1 {
  &:before {
    content: $icon-o-auth2-proxy-path1;  
    color: rgb(6, 237, 148);
  }
}
.icon-o-auth2-proxy .path2 {
  &:before {
    content: $icon-o-auth2-proxy-path2;  
    margin-left: -0.64453125em;  
    color: rgb(51, 51, 51);
  }
}
.icon-o-auth2-proxy .path3 {
  &:before {
    content: $icon-o-auth2-proxy-path3;  
    margin-left: -0.64453125em;  
    color: rgb(124, 124, 130);
  }
}
.icon-o-auth2-proxy .path4 {
  &:before {
    content: $icon-o-auth2-proxy-path4;  
    margin-left: -0.64453125em;  
    color: rgb(5, 155, 97);
  }
}
.icon-o-auth2-proxy .path5 {
  &:before {
    content: $icon-o-auth2-proxy-path5;  
    margin-left: -0.64453125em;  
    color: rgb(6, 237, 148);
  }
}
.icon-o-auth2-proxy .path6 {
  &:before {
    content: $icon-o-auth2-proxy-path6;  
    margin-left: -0.64453125em;  
    color: rgb(25, 87, 186);
  }
}
.icon-o-auth2-proxy .path7 {
  &:before {
    content: $icon-o-auth2-proxy-path7;  
    margin-left: -0.64453125em;  
    color: rgb(108, 168, 255);
  }
}
.icon-o-auth2-proxy-white .path1 {
  &:before {
    content: $icon-o-auth2-proxy-white-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-o-auth2-proxy-white .path2 {
  &:before {
    content: $icon-o-auth2-proxy-white-path2;  
    margin-left: -0.64453125em;  
    color: rgb(230, 230, 230);
  }
}
.icon-o-auth2-proxy-white .path3 {
  &:before {
    content: $icon-o-auth2-proxy-white-path3;  
    margin-left: -0.64453125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-o-auth2-proxy-white .path4 {
  &:before {
    content: $icon-o-auth2-proxy-white-path4;  
    margin-left: -0.64453125em;  
    color: rgb(179, 179, 179);
  }
}
.icon-o-auth2-proxy-white .path5 {
  &:before {
    content: $icon-o-auth2-proxy-white-path5;  
    margin-left: -0.64453125em;  
    color: rgb(242, 242, 242);
  }
}
.icon-opa-icon-white .path1 {
  &:before {
    content: $icon-opa-icon-white-path1;  
    color: rgb(255, 255, 255);  
    opacity: 0.64;
  }
}
.icon-opa-icon-white .path2 {
  &:before {
    content: $icon-opa-icon-white-path2;  
    margin-left: -0.9072265625em;  
    color: rgb(255, 255, 255);  
    opacity: 0.85;
  }
}
.icon-opa-icon-white .path3 {
  &:before {
    content: $icon-opa-icon-white-path3;  
    margin-left: -0.9072265625em;  
    color: rgb(255, 255, 255);  
    opacity: 0.75;
  }
}
.icon-postgresql .path1 {
  &:before {
    content: $icon-postgresql-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-postgresql .path2 {
  &:before {
    content: $icon-postgresql-path2;  
    margin-left: -1.5em;  
    color: rgb(51, 103, 145);
  }
}
.icon-postgresql .path3 {
  &:before {
    content: $icon-postgresql-path3;  
    margin-left: -1.5em;  
    color: none;
  }
}
.icon-postgresql .path4 {
  &:before {
    content: $icon-postgresql-path4;  
    margin-left: -1.5em;  
    color: none;
  }
}
.icon-postgresql .path5 {
  &:before {
    content: $icon-postgresql-path5;  
    margin-left: -1.5em;  
    color: none;
  }
}
.icon-postgresql .path6 {
  &:before {
    content: $icon-postgresql-path6;  
    margin-left: -1.5em;  
    color: none;
  }
}
.icon-postgresql .path7 {
  &:before {
    content: $icon-postgresql-path7;  
    margin-left: -1.5em;  
    color: rgb(255, 255, 255);
  }
}
.icon-postgresql .path8 {
  &:before {
    content: $icon-postgresql-path8;  
    margin-left: -1.5em;  
    color: rgb(255, 255, 255);
  }
}
.icon-postgresql .path9 {
  &:before {
    content: $icon-postgresql-path9;  
    margin-left: -1.5em;  
    color: none;
  }
}
.icon-powerful-seal .path1 {
  &:before {
    content: $icon-powerful-seal-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-powerful-seal .path2 {
  &:before {
    content: $icon-powerful-seal-path2;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-powerful-seal .path3 {
  &:before {
    content: $icon-powerful-seal-path3;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-powerful-seal .path4 {
  &:before {
    content: $icon-powerful-seal-path4;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-powerful-seal .path5 {
  &:before {
    content: $icon-powerful-seal-path5;  
    margin-left: -1em;  
    color: none;
  }
}
.icon-powerful-seal .path6 {
  &:before {
    content: $icon-powerful-seal-path6;  
    margin-left: -1em;  
    color: none;
  }
}
.icon-powerful-seal-white {
  &:before {
    content: $icon-powerful-seal-white;     
    color: #fff;
  }
}
.icon-prometheus-black {
  &:before {
    content: $icon-prometheus-black; 
  }
}
.icon-prometheus-trans {
  &:before {
    content: $icon-prometheus-trans; 
  }
}
.icon-prometheus-white {
  &:before {
    content: $icon-prometheus-white;     
    color: #fff;
  }
}
.icon-prometheus-stacked-black {
  &:before {
    content: $icon-prometheus-stacked-black; 
  }
}
.icon-rancher {
  &:before {
    content: $icon-rancher;     
    color: #0076a8;
  }
}
.icon-redis .path1 {
  &:before {
    content: $icon-redis-path1;  
    color: rgb(164, 30, 17);
  }
}
.icon-redis .path2 {
  &:before {
    content: $icon-redis-path2;  
    margin-left: -1em;  
    color: rgb(216, 44, 32);
  }
}
.icon-redis .path3 {
  &:before {
    content: $icon-redis-path3;  
    margin-left: -1em;  
    color: rgb(164, 30, 17);
  }
}
.icon-redis .path4 {
  &:before {
    content: $icon-redis-path4;  
    margin-left: -1em;  
    color: rgb(216, 44, 32);
  }
}
.icon-redis .path5 {
  &:before {
    content: $icon-redis-path5;  
    margin-left: -1em;  
    color: rgb(164, 30, 17);
  }
}
.icon-redis .path6 {
  &:before {
    content: $icon-redis-path6;  
    margin-left: -1em;  
    color: rgb(216, 44, 32);
  }
}
.icon-redis .path7 {
  &:before {
    content: $icon-redis-path7;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-redis .path8 {
  &:before {
    content: $icon-redis-path8;  
    margin-left: -1em;  
    color: rgb(255, 255, 255);
  }
}
.icon-redis .path9 {
  &:before {
    content: $icon-redis-path9;  
    margin-left: -1em;  
    color: rgb(122, 12, 0);
  }
}
.icon-redis .path10 {
  &:before {
    content: $icon-redis-path10;  
    margin-left: -1em;  
    color: rgb(173, 33, 21);
  }
}
.icon-rook-white {
  &:before {
    content: $icon-rook-white;     
    color: #fff;
  }
}
.icon-sonobuoy .path1 {
  &:before {
    content: $icon-sonobuoy-path1;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path2 {
  &:before {
    content: $icon-sonobuoy-path2;  
    margin-left: -3.8837890625em;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path3 {
  &:before {
    content: $icon-sonobuoy-path3;  
    margin-left: -3.8837890625em;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path4 {
  &:before {
    content: $icon-sonobuoy-path4;  
    margin-left: -3.8837890625em;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path5 {
  &:before {
    content: $icon-sonobuoy-path5;  
    margin-left: -3.8837890625em;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path6 {
  &:before {
    content: $icon-sonobuoy-path6;  
    margin-left: -3.8837890625em;  
    color: rgb(35, 157, 224);
  }
}
.icon-sonobuoy .path7 {
  &:before {
    content: $icon-sonobuoy-path7;  
    margin-left: -3.8837890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-sonobuoy .path8 {
  &:before {
    content: $icon-sonobuoy-path8;  
    margin-left: -3.8837890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-sonobuoy .path9 {
  &:before {
    content: $icon-sonobuoy-path9;  
    margin-left: -3.8837890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-sonobuoy .path10 {
  &:before {
    content: $icon-sonobuoy-path10;  
    margin-left: -3.8837890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-sonobuoy .path11 {
  &:before {
    content: $icon-sonobuoy-path11;  
    margin-left: -3.8837890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-sonobuoy .path12 {
  &:before {
    content: $icon-sonobuoy-path12;  
    margin-left: -3.8837890625em;  
    color: rgb(105, 101, 102);
  }
}
.icon-sonobuoy-white {
  &:before {
    content: $icon-sonobuoy-white;     
    color: #fff;
  }
}
.icon-terraform .path1 {
  &:before {
    content: $icon-terraform-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-terraform .path2 {
  &:before {
    content: $icon-terraform-path2;  
    margin-left: -1.01171875em;  
    color: rgb(0, 0, 0);
  }
}
.icon-terraform .path3 {
  &:before {
    content: $icon-terraform-path3;  
    margin-left: -1.01171875em;  
    color: rgb(92, 78, 229);
  }
}
.icon-terraform .path4 {
  &:before {
    content: $icon-terraform-path4;  
    margin-left: -1.01171875em;  
    color: rgb(64, 64, 178);
  }
}
.icon-terraform .path5 {
  &:before {
    content: $icon-terraform-path5;  
    margin-left: -1.01171875em;  
    color: rgb(92, 78, 229);
  }
}
.icon-terraform-white {
  &:before {
    content: $icon-terraform-white;     
    color: #fff;
  }
}
.icon-the-update-framework-tuf .path1 {
  &:before {
    content: $icon-the-update-framework-tuf-path1;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path2 {
  &:before {
    content: $icon-the-update-framework-tuf-path2;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path3 {
  &:before {
    content: $icon-the-update-framework-tuf-path3;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path4 {
  &:before {
    content: $icon-the-update-framework-tuf-path4;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path5 {
  &:before {
    content: $icon-the-update-framework-tuf-path5;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path6 {
  &:before {
    content: $icon-the-update-framework-tuf-path6;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 130, 202);
  }
}
.icon-the-update-framework-tuf .path7 {
  &:before {
    content: $icon-the-update-framework-tuf-path7;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 130, 202);
  }
}
.icon-the-update-framework-tuf .path8 {
  &:before {
    content: $icon-the-update-framework-tuf-path8;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path9 {
  &:before {
    content: $icon-the-update-framework-tuf-path9;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 1, 0);
  }
}
.icon-the-update-framework-tuf .path10 {
  &:before {
    content: $icon-the-update-framework-tuf-path10;  
    margin-left: -0.7783203125em;  
    color: rgb(0, 0, 0);
  }
}
.icon-the-update-framework-tuf-white .path1 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path2 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path2;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path3 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path3;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path4 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path4;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path5 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path5;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path6 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path6;  
    margin-left: -0.7783203125em;  
    color: rgb(230, 230, 230);
  }
}
.icon-the-update-framework-tuf-white .path7 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path7;  
    margin-left: -0.7783203125em;  
    color: rgb(230, 230, 230);
  }
}
.icon-the-update-framework-tuf-white .path8 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path8;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path9 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path9;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-the-update-framework-tuf-white .path10 {
  &:before {
    content: $icon-the-update-framework-tuf-white-path10;  
    margin-left: -0.7783203125em;  
    color: rgb(255, 255, 255);
  }
}
.icon-vault-char {
  &:before {
    content: $icon-vault-char; 
  }
}
.icon-vault {
  &:before {
    content: $icon-vault; 
  }
}
.icon-keyonbit-white4 .path1 {
  &:before {
    content: $icon-keyonbit-white4-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path2 {
  &:before {
    content: $icon-keyonbit-white4-path2;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path3 {
  &:before {
    content: $icon-keyonbit-white4-path3;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path4 {
  &:before {
    content: $icon-keyonbit-white4-path4;  
    margin-left: -2.515625em;  
    color: rgb(153, 153, 153);
  }
}
.icon-keyonbit-white4 .path5 {
  &:before {
    content: $icon-keyonbit-white4-path5;  
    margin-left: -2.515625em;  
    color: rgb(153, 153, 153);
  }
}
.icon-keyonbit-white4 .path6 {
  &:before {
    content: $icon-keyonbit-white4-path6;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path7 {
  &:before {
    content: $icon-keyonbit-white4-path7;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path8 {
  &:before {
    content: $icon-keyonbit-white4-path8;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white4 .path9 {
  &:before {
    content: $icon-keyonbit-white4-path9;  
    margin-left: -2.515625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path1 {
  &:before {
    content: $icon-keyonbit-white2-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path2 {
  &:before {
    content: $icon-keyonbit-white2-path2;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path3 {
  &:before {
    content: $icon-keyonbit-white2-path3;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path4 {
  &:before {
    content: $icon-keyonbit-white2-path4;  
    margin-left: -4.3115234375em;  
    color: rgb(153, 153, 153);
  }
}
.icon-keyonbit-white2 .path5 {
  &:before {
    content: $icon-keyonbit-white2-path5;  
    margin-left: -4.3115234375em;  
    color: rgb(153, 153, 153);
  }
}
.icon-keyonbit-white2 .path6 {
  &:before {
    content: $icon-keyonbit-white2-path6;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path7 {
  &:before {
    content: $icon-keyonbit-white2-path7;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path8 {
  &:before {
    content: $icon-keyonbit-white2-path8;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white2 .path9 {
  &:before {
    content: $icon-keyonbit-white2-path9;  
    margin-left: -4.3115234375em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit-white3 {
  &:before {
    content: $icon-keyonbit-white3;     
    color: #fff;
  }
}
.icon-keyonbit1-black {
  &:before {
    content: $icon-keyonbit1-black; 
  }
}
.icon-keyonbit1-blue {
  &:before {
    content: $icon-keyonbit1-blue;     
    color: #00479b;
  }
}
.icon-keyonbit2-black .path1 {
  &:before {
    content: $icon-keyonbit2-black-path1;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path2 {
  &:before {
    content: $icon-keyonbit2-black-path2;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path3 {
  &:before {
    content: $icon-keyonbit2-black-path3;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path4 {
  &:before {
    content: $icon-keyonbit2-black-path4;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-black .path5 {
  &:before {
    content: $icon-keyonbit2-black-path5;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-black .path6 {
  &:before {
    content: $icon-keyonbit2-black-path6;  
    margin-left: -3.712890625em;  
    color: rgb(35, 25, 22);
  }
}
.icon-keyonbit2-black .path7 {
  &:before {
    content: $icon-keyonbit2-black-path7;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path8 {
  &:before {
    content: $icon-keyonbit2-black-path8;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path9 {
  &:before {
    content: $icon-keyonbit2-black-path9;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-black .path10 {
  &:before {
    content: $icon-keyonbit2-black-path10;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-blue .path1 {
  &:before {
    content: $icon-keyonbit2-blue-path1;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path2 {
  &:before {
    content: $icon-keyonbit2-blue-path2;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path3 {
  &:before {
    content: $icon-keyonbit2-blue-path3;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path4 {
  &:before {
    content: $icon-keyonbit2-blue-path4;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-blue .path5 {
  &:before {
    content: $icon-keyonbit2-blue-path5;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-blue .path6 {
  &:before {
    content: $icon-keyonbit2-blue-path6;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path7 {
  &:before {
    content: $icon-keyonbit2-blue-path7;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path8 {
  &:before {
    content: $icon-keyonbit2-blue-path8;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-blue .path9 {
  &:before {
    content: $icon-keyonbit2-blue-path9;  
    margin-left: -3.712890625em;  
    color: rgb(0, 71, 155);
  }
}
.icon-keyonbit2-white1 .path1 {
  &:before {
    content: $icon-keyonbit2-white1-path1;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path2 {
  &:before {
    content: $icon-keyonbit2-white1-path2;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path3 {
  &:before {
    content: $icon-keyonbit2-white1-path3;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path4 {
  &:before {
    content: $icon-keyonbit2-white1-path4;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-white1 .path5 {
  &:before {
    content: $icon-keyonbit2-white1-path5;  
    margin-left: -3.712890625em;  
    color: rgb(0, 0, 0);
  }
}
.icon-keyonbit2-white1 .path6 {
  &:before {
    content: $icon-keyonbit2-white1-path6;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path7 {
  &:before {
    content: $icon-keyonbit2-white1-path7;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path8 {
  &:before {
    content: $icon-keyonbit2-white1-path8;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}
.icon-keyonbit2-white1 .path9 {
  &:before {
    content: $icon-keyonbit2-white1-path9;  
    margin-left: -3.712890625em;  
    color: rgb(255, 255, 255);
  }
}

