@font-face {
    font-family: NanumSquareRound;
    src: url(~assets/fonts/NanumSquareRoundB.ttf);
  }

* {
  font-family: NanumSquareRound;
  font-size: 16px;
}

.button {
  &.is-keyonbitblue {
    background-color: #004095;
    color: #FFFFFF;
    border-color: #004095;
  } 
}