<template>
  <div>
    <div class="container"></div>
      <div v-for:
  </div>
</template>
<script>
export default {
  props: {
    quantity: {
      type: Number,
      required: true
    },
  },
  data: () => {
    return {
      
    }
  }
}
</script>
<style lang="scss" scoped>
.container {
  padding: 2rem;
  height: 40rem;
  width: 50rem;
  border-color: black;
}

</style>