<template>
  <div>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- about -->
    <div class="about">
      <a class="bg_links social portfolio" href="https://www.rafaelalucas.com" target="_blank">
          <span class="icon"></span>
      </a>
      <a class="bg_links social dribbble" href="https://dribbble.com/rafaelalucas" target="_blank">
          <span class="icon"></span>
      </a>
      <a class="bg_links social linkedin" href="https://www.linkedin.com/in/rafaelalucas/" target="_blank">
          <span class="icon"></span>
      </a>
      <a class="bg_links logo"></a>
    </div>
    <!-- end about -->
    <div class="content">
      <!-- card -->
      <div class="card">        
        <div class="icon"><i class="material-icons md-36">face</i></div>
        <p class="title">Profile</p>
        <p class="text">Click to see or edit your profile page.</p>    
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card">        
        <div class="icon"><i class="material-icons md-36">favorite_border</i></div>
        <p class="title">Favourites</p>
        <p class="text">Check all your favourites in one place.</p>
      </div>
      <!-- end card -->
      <!-- card -->
      <div class="card">        
        <div class="icon"><i class="material-icons md-36">alternate_email</i></div>
        <p class="title">Contacts</p>
        <p class="text">Add or change your contacts and links.</p>
      </div>
      <!-- end card -->
    </div>
  </div>
</template>
<style src="~/assets/scss/card1.scss" lang="scss" scoped>

</style>