<template>
  <div :class="[checkboxStyle, checkboxSize]">
    <input type="checkbox" id="ckbx-style-8-1" value="0" name="ckbx-style-8">
    <label for="ckbx-style-8-1"></label>
  </div>
</template>
<script>
export default {
  props:{
    checkboxStyle: {
      required: true
    },
    checkboxSize: {
      default: "ckbx-medium"
    }
  }
}
</script>
<style lang="css" scoped>
@import "css-checkbox-library/dist/css/checkboxes.min.css"
</style>