<template>
  <div>
    <div id="circularMenu" class="circular-menu">

    <a class="floating-btn" onclick="document.getElementById('circularMenu').classList.toggle('active');">
      <i class="fa fa-plus"></i>
    </a>

    <menu class="items-wrapper">
      <a href="#" class="menu-item fab fa-facebook-f"></a>
      <a href="#" class="menu-item fa fa-twitter"></a>
      <a href="#" class="menu-item fa fa-google-plus"></a>
      <a href="#" class="menu-item fa fa-linkedin"></a>
    </menu>

  </div>


    <div id="circularMenu1" class="circular-menu circular-menu-left active">

    <a class="floating-btn" onclick="document.getElementById('circularMenu1').classList.toggle('active');">
      <i class="fa fa-bars"></i>
    </a>

    <menu class="items-wrapper">
      <a href="/" class="menu-item fa fa-home"></a>
      <a href="/login" class="menu-item fa fa-user"></a>
      <a href="#" class="menu-item fa fa-pie-chart"></a>
      <a href="#" class="menu-item fa fa-cog"></a>
    </menu>

    </div>
  </div>
</template>
<style lang="scss" scoped src="~/assets/scss/circular-menu.scss">
</style>