<template>
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-keyonbitblue">
        <strong>Sign up</strong>
      </a>
      <nuxt-link to="/login" class="button is-light">
        Log in
      </nuxt-link>
    </div>
  </div>
</template>