<template>
  <div class="navbar-item">
    <div class="buttons">
      <a class="button is-keyonbitblue">
        <strong>MyPage</strong>
      </a>
      <button class="button is-light" @click="toLogout">
        Log Out
      </button>
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    toLogout: async function() {
      try{
        const res = await this.$axios.get('/api/auth/logout')
        this.$store.commit('user/unauthenticated')
      } catch (err) {
        console.log(err)
      }
    }
  }
}
</script>