<template>
  <div>
    <circleNavbar></circleNavbar>
    <nuxt/>
  </div>
</template>
<script>
import circleNavbar from '~/components/circle-navbar2.vue'
export default {
  components: {
    circleNavbar
  }  
}
</script>