<template>
<div class="root">
  <div class="container main-frame">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Harbor</p>
          <p class="subtitle">Docker registry, 컨테이너 취약점 분석</p>
          <a href="https://harbor.internal.keyonbit.com">
            <app-card></app-card>
          </a>
          <div>
            <clock-loading></clock-loading>
          </div>
          <p> {{ url }} </p>
          <button @click="test" class="button is-info">test</button>
          <div>
            <checkbox checkboxStyle="ckbx-style-8" checkboxSize="ckbx-xlarge"></checkbox>
          </div>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Hello world2</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child box">
          <p class="title">Hello world3</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import Logo from '~/components/Logo.vue'
import ClockLoading from '~/components/clock-loading.vue'
import Checkbox from '~/components/checkbox.vue'
import AppCard from '~/components/app-card'
import consola from 'consola'

export default {
  components: {
    ClockLoading,
    Checkbox,
    AppCard
  },
  data () {
    const url = this.$store.state.url
    return {
      url: url
    }
  },
  async fetch ({ store, $axios }){
    try {
      const { data:{url} } = await $axios.get('/api/data/harbor')
      store.commit({
      type: 'update',
      url: url
    })} catch (err){
      console.error(err);
    }
  },
  methods: {
    test: async function() {
      try{
        await this.$axios.get('/api/test')
        this.$router.go('/')
      } catch (err){
        
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~assets/scss/common-page.scss";

div.container {
  color: #FFFFFF;

  height: 1024px;
  &.main-frame {
    padding: 2rem;
    .title {
      color: #FFFFFF;
    }
    .subtitle {
      color: #BBCEE4;
    }
    img {
      height: 10rem;
      width: 10rem;
    }

    .box {
      color: #FFFFFF;
      background-color: #004095;

      box-shadow: 0 0.5em 1em -0.125em #004095, 0 0px 0 1px #004095;
    }

  }
}


</style>
