<template>
  <div class="root">
    <div class="box">
      <div>
        <img class="logo" src="~assets/images/logo2_bk.svg">
      </div>
      <div class="form">
        <div class="field">
          <label class="label">Name</label>
          <div class="control has-icons-left">
            <input class="input" type="text" v-model="login.username" placeholder="e.g. hong">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
        </div>
        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left">
            <input class="input" type="password" v-model="login.password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </div>
        </div>
        <div>
          <div class="delimeter"></div>
        </div>
        <div class="field">
          <div class="control is-expanded">
            <button class="button is-success is-light is-fullwidth" @click="loginLocal">Log in</button>
          </div>
        </div>
        <div class="field">
          <div class="control is-expanded">
            <button class="button is-info is-light is-fullwidth" @click="signUpLocal">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import CryptoJS from 'crypto-js'
export default {
  data() {
    return {
      login: {
        username: '',
        password: ''
      }
    }
  },
  middleware (context) {
    if(context.store.getters['user/isAuthenticated'])
      context.redirect('/')
  },
  methods: {
    loginLocal: async function() {
      try{
        let response = await this.$axios.post('/api/auth/login', {
          username: this.login.username,
          password: this.login.password
        })
        this.$store.commit('user/add', { username: this.login.username })
        this.$store.commit('user/authenticated')
        this.$router.push('/')
      } catch (err){
        console.log(err.response.data.message)
      }
    },
    signUpLocal: async function() {
      try{
        const salt = CryptoJS.lib.WordArray.random(64)
        const encryptedPassword = CryptoJS.PBKDF2(this.login.password, salt, {
          keySize: 512 / 32,
          iterations: 1000
        })
        const base64EncPassword = CryptoJS.enc.Base64.stringify(encryptedPassword)
        const base64EncSalt = CryptoJS.enc.Base64.stringify(salt)
        let payload = {
          username: this.login.username,
          password: base64EncPassword,
          salt: base64EncSalt
        }
        let response = await this.$axios.post('/api/auth/signup', payload)
        console.log(response)
      } catch (err){
        console.log(err)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import "~assets/scss/common-page.scss";

label {
  color: #FFFFFF;
}

.root {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.box {
  background: #225fa8;
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 30%;
  height: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch;
}

.login {
  padding-top: 20%;

}

.delimeter {
  height: 1px;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 18%;
  background-color: #FFFFFF;
}

input {
  color: #000000;
  &::placeholder {
    color: #bbcee4;
  }
}

.logo {
  width: 15rem;
  height: 5rem;
}

</style>